.comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  max-height: 300px; /* Set a maximum height to display 3 or 4 comments */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds the container height */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.icon-container {
  margin-right: 10px;
}
.comment-item {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  /* Additional comment item styles */
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  font-weight: bold;
  margin: 0;
}

.timestamp {
  margin: 0;
  color: #888;
}

.comment-text {
  margin-top: 10px;
}

@media screen and (min-width: 576px) {
  .comment {
    width: 470px !important;
  }
}
