/* LikeButton.css */

/* Style the container div */
.like-button-container {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    
  }
  /* Style the like button */
  .like-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid beige;
    display: flex;
    border-radius: 10px;
  }
  
  .like-button:hover {
    background-color: #0056b3;
  }
  