/* navbar.css */
.active {
    background-color: white; 
  }
.nav-link {
    color: white;
    margin-right: 10px;
}
.nav-link:hover {
    font-weight: bolder;
    color: white;
}
.navbar .nav-link.active {

    color: #007BB2;
    border-radius: 5px;
  }
