.service {
    background-color: aliceblue;
    padding-bottom: 100px;
}
.card {
    margin: 10px 20px;
    max-width: calc(100% / 3 - 100px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s;
    background-color: white;
}

.card-img-top {
    max-width: 100px; 
    max-height: 100px; 
}
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card:hover {
    transform: scale(1.1);
  }