.img-smaller {
    max-width: 40px; /* Adjust this value to control the maximum width of the image */
    max-height: 40px; /* Adjust this value to control the maximum height of the image */
  }
  .img-thesis{
    width: 280px; 
    height: 160px; 
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
  .Tags {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    padding: 7px 10px 12px;
    border-radius: 30px;
    color: #333;
    font-weight: none;
    font-size: 14px;
    transition: transform 0.3s;
}
.container {
  margin-top: 100px;
}
.Tags:hover {
  transform: scale(1.1); /* Adjust the scale value to control the amount of zoom out */
}
